
.animated {
            animation-duration: 3s; 
         }
         
         @keyframes bounceInLeft {
            0% {
               opacity: 0;
               transform: translateX(-2000px);
            }
            60% {
               opacity: 1;
               transform: translateX(30px);
            }
            80% {
               transform: translateX(-10px);
            }
            100% {
               transform: translateX(0);
            }
         }
         
         .bounceInLeft {
            animation-name: bounceInLeft;
         }
		 
		 
		 
  .animated1 {
            
            animation-duration: 3s;
            
         }
         
         
         @keyframes bounceInRight {
            0% {
               opacity: 0;
               transform: translateX(2000px);
            }
            60% {
               opacity: 1;
               transform: translateX(-30px);
            }
            80% {
               transform: translateX(10px);
            }
            100% {
               transform: translateX(0);
            }
         }
         
        .bounceInRight {
            -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
         }
		 
		 
		 
.animated1 {
            
            animation-duration:3s;
            
         }

         @keyframes bounceInUp {
            0% {
               opacity: 0;
               transform: translateY(2000px);
            }
            60% {
               opacity: 1;
               transform: translateY(-30px);
            }
            80% {
               transform: translateY(10px);
            }
            100% {
               transform: translateY(0);
            }
         }
         
        .bounceInUp {
            animation-name: bounceInUp;
         }



.topnav {
  background-color: #333;
  overflow: hidden;


}
.nav-item {
float: right;
}
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-brand img{
	height:30PX;
		}


  .bg-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}


.bg-text a.button{
	background-color:#343A40;
	font-size: 24px;
	padding: 12px 28px;
	border-radius: 12px;
	 text-decoration: none;
	color: white;
}
.bg-text a.button:hover {
  	background-color:white;
	color: #343A40;
}